LIVEKIT_URL=wss://day-2-murf-oe38shwf.livekit.cloud
LIVEKIT_API_KEY=APInXcpNyjMbZLX
LIVEKIT_API_SECRET=nIvaMnPJqvrZzosGhA9dYAV14CNLtnYdLqSUgg5O4iA
GOOGLE_API_KEY=AIzaSyBzmgIWVZMkReZkq9xl6Op31G_m3u8pFnU
MURF_API_KEY=ap2_b90cc29d-be91-49d1-965c-c1f0ae2f29cd
DEEPGRAM_API_KEY=d4f433b9907e4d921c04f6ea75ef58258691afd1