LIVEKIT_URL=wss://day-2-murf-oe38shwf.livekit.cloud
LIVEKIT_API_KEY=APIB4A7Ex8t8NPY
LIVEKIT_API_SECRET=a6gULRQLxU3HAliilxGh17gZHJoGNoqpYXCjktOsePX
GOOGLE_API_KEY=AIzaSyCVj42f4i3KJ2zpPhmU0DG0bHuvATsFg98
MURF_API_KEY=ap2_52f1069b-0f79-4e4c-ac59-43d9279821fc
DEEPGRAM_API_KEY=073ec7f3476e7211b4c6c80803f2aed0be95003b