# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://day-2-murf-oe38shwf.livekit.cloud
LIVEKIT_API_KEY=APIB4A7Ex8t8NPY
LIVEKIT_API_SECRET=a6gULRQLxU3HAliilxGh17gZHJoGNoqpYXCjktOsePX


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
